<div id="sidebar" class="d-flex flex-column p-3" th:fragment="sidebar">
    <div class="logo text-center"><a th:href="@{/}">R-Inv</a></div>
    <ul class="nav flex-column">

        <li class="nav-item">
            <a th:href="@{/invoices}" class="nav-link"><i class="bi bi-receipt"></i> Invoices</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link"><i class="bi bi-box"></i> Suppliers</a>
        </li>
        <li class="nav-item">
            <a th:href="@{/}" class="nav-link"><i class="bi bi-bar-chart"></i> Statics</a>
        </li>

    </ul>
    <div class="mt-auto text-center p-3">
        <button id="toggleSidebar" class="btn btn-info w-100">
            <i class="bi bi-chevron-left"></i> Hide
        </button>
    </div>
</div>